<!-- 投稿一覧 -->
<h1>投稿一覧</h1>

<table>
	<thead>
		<tr>
			<th>title</th>
			<th>body</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= post.title %></td>
				<td><%= post.body %></td>
				<td><%= link_to "詳細", post_path(post) %></td>
				<td><%= link_to "編集", edit_post_path(post) %></td>
				<td><%= link_to "削除", post_path(post), method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<!-- 新規投稿機能 -->
<h2>新規投稿</h2>

<%= form_for(@post) do |f| %>

	<h4>title</h4>
	<%= f.text_field :title %>

	<h4>review</h4>
	<%= f.text_area :body %>

	<%= f.submit '投稿' %>

<% end %>