<!-- 投稿一覧 -->
<div class="container">
	<div class="index-title">
		<h1>投稿一覧</h1>
	</div>

	<table>
	<thead>
		<tr class="table-heading">
			<th>title</th>
			<th>review</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td class="post-title"><%= link_to post.title, post_path(post) %></td>
				<td class="post-body">
					<% if post.body.length >= 40 %>
						<%= post.body.slice(0, 40) %>...
					<% else %>
						<%= post.body %>
					<% end %>
				</td>
				<td class="post-item"><%= link_to "編集", edit_post_path(post) %></td>
				<td class="post-item"><%= link_to "削除", post_path(post), method: :delete, data: {confirm: '削除しますか？'} %></td>
			</tr>
		<% end %>
	</tbody>
	</table>


<!-- 新規投稿機能 -->
	<div class="new-body">
		<h1 class="index-title">新規投稿</h1>

		<%= form_for(@post) do |f| %>

		<h4 class="form-heading">title</h4>
		<%= f.text_field :title, :size=>"30" %>

		<h4 class="form-heading">review</h4>
		<%= f.text_area :body, :size=>"50x7" %>

		<div>
			<%= f.submit '投稿'%>
		</div>

		<% end %>
	</div>
</div>
