<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header-body">
        <h2>Bookers</h2>
      </div>
    </header>

    <!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
	    <p style="color:blue"><%= flash[:notice] %></p>
	  <% end %>

    <%= yield %>
  </body>
</html>
